{% extends 'blogapp/base.html' %}

{% block title %}
<title>Welcome to MyBlog</title>
{% endblock %}

{% block body %}

<div class="container">

	<div class="d-lg-none col-lg-8 my-4">
		<a class="btn btn-block btn-light" href="{% url 'blog-create' %}">
			<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-earmark-plus text-primary font-weight-bold mx-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z"/>
				<path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
				<path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
			</svg>
			Create Post
			
		</a>
	</div>	


	<div class="row">
		<div class="d-flex flex-column col-lg-8">
			{% if object_list %}

			{% for object in object_list %}
			<div class="card my-2">
				<div class="card-header">
					<img src="{{object.author.profile_pic.url}}" alt="" class="img-thumbnail rounded-circle img-fluid" width="45px" height="45px">
					
				 <a class="text-primary" href="{% url 'user-blog-list' object.author.id %}">{{object.author}}</a>
				</div>

				<div class="card-body">
					<h4 class="card-title">
						<a href="{% url 'detail-view' object.id %}"> <span class="font-weight-bold text-dark font-weight-bold"> {{object.title}} </span></a>
					</h4>
					<img src="{{object.image.url}}" class="card-img-top mb-2" alt="...">
					<p class="card-text">
						{{object.content|truncatechars:500}} 
						<a href="{% url 'detail-view' object.id %}">
							Read more
						</a>
					</p>
				</div>

				<div class="card-footer text-muted text-right bg-light">
					Posted on {{object.date_posted|date:"d F o"}} @ {{object.date_posted|time:"f A"}}
				</div>

			</div>
			{% endfor %}

			{% else %}
			<h1 class="text-center my-2">No blogs have been posted yet.</h1>
			{% endif %}

		</div>

		<div class="d-lg-inline d-none flex-column col-lg-4 my-2">

			<div>
				{% if user.is_authenticated %}
				<h4 class="text-dark text-center font-weight-bold mt-4 mb-2">
					Welcome, {{request.user.first_name}} {{request.user.last_name}}
				</h4>
				<!-- <img src="{{user.profile_pic.url}}" class="img-fluid rounded-circle my-3" alt=""> -->
				
				{% endif %}
				<p class="border border-secondary p-3 bg-white">
					Share your ideas, knowledge and content with others in order to break the geographical barriers.
				</p>
			</div>


			<a class="btn btn-block btn-light pl-0" href="{% url 'blog-create' %}">
				<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-earmark-plus text-primary font-weight-bold mx-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z"/>
					<path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
					<path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
				</svg>
				Create Post
			</a>

		</div>
	</div>

					<!-- PAGINATION -->

	{% if is_paginated %}

		{% if page_obj.has_previous %}
	
			<a href="?page=1" class="btn btn-outline-info mb-4">First</a>
			<a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-info mb-4">Previous</a>
		
		{% endif %}

		{% for num in page_obj.paginator.page_range %}

			{% if page_obj.number == num %}

			<a href="?page={{num}}" class="btn btn-info mb-4">{{num}}</a>

			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				
				<a href="?page={{num}}" class="btn btn-outline-info mb-4">{{num}}</a>
				

			{% endif %}

		{% endfor %}
		

		{% if page_obj.has_next %}
	
			<a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-info mb-4">Next</a>
			<a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-info mb-4">Last</a>
		
		{% endif %}

	{% endif %}
</div>
	{% endblock %}

